<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Department Page</title>
</head>
<body>
	<h1>Department</h1>
	<table class="w3-container" border="1">
		<tr th:each="d:${department}">
			<td th:text=${d.id}>Id</td>
			<td th:text=${d.name}>name</td>
			
			<td><a href="EditDepartment.html"
				th:href="@{/Admin/editDepartment/}+${d.id}"> Edit </a></td>
			<td><a href="DeleteDepartment.html"
				th:href="@{/Admin/deleteDepartment/}+${d.id}"> Delete </a></td>

		</tr>
	</table>
	<a href="AddDepartment.html" th:href="@{/faculty/createDepartment}">Add Department</a>

</body>
</html>