<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"
	rel="stylesheet" />
<link th:href="@{/css/style.css}" rel="stylesheet" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div th:fragment="home" align="left" id="myDiv"
		style="height: 50px; width: 1400px; background-color: lightblue">
		<h3>Edit Course Form</h3>
	</div>
	<div class="container">
		<form th:object="${student}" th:action="@{/faculty/saveEdit}"
			method="get">
			<div class="form-group">

				<fieldset>
					Name: <input type="text" th:field="*{studentName}"
						readonly="readonly" class="form-control">
				</fieldset>
			</div>
			<div class="form-group">
				<fieldset>
					Name: <input type="text" th:field="*{gender}" readonly="readonly"
						class="form-control">
				</fieldset>
			</div>
			<div class="form-group">
				<fieldset>
					Name: <input type="text" th:field="*{DOB}" readonly="readonly"
						class="form-control">
				</fieldset>
			</div>
			<div class="form-group">
				<fieldset>
					Name: <input type="text" th:field="*{degree}" readonly="readonly"
						class="form-control">
				</fieldset>
			</div>
			<div class="form-group">
				<fieldset>
					Name: <input type="text" th:field="*{semester}" readonly="readonly"
						class="form-control">
				</fieldset>
			</div>
			<div class="form-group">
				<fieldset>
					Name: <input type="text" th:field="*{address}" readonly="readonly"
						class="form-control">
				</fieldset>
			</div>
			<div class="form-group">
				<fieldset>
					Name: <input type="text" th:field="*{mobile}" readonly="readonly"
						class="form-control">
				</fieldset>
			</div>
			<div class="form-group">

				<fieldset>
					GPA: <input type="text" th:field="*{gpa}" class="form-control"
						placeholder="GPA">
				</fieldset>
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>
</body>
<div th:insert="~{home :: copy}">Copy</div>
</html>