<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<form th:object="${student}" th:action="@{/faculty/saveEdit}"
		method="get">
		<fieldset>
			Name: <input type="text" th:field="*{studentName}" readonly="readonly">
		</fieldset>
		<fieldset>
			Name: <input type="text" th:field="*{gender}" readonly="readonly">
		</fieldset>
		<fieldset>
			Name: <input type="text" th:field="*{DOB}" readonly="readonly">
		</fieldset>
		<fieldset>
			Name: <input type="text" th:field="*{degree}" readonly="readonly">
		</fieldset>
		<fieldset>
			Name: <input type="text" th:field="*{semester}" readonly="readonly">
		</fieldset>
		<fieldset>
			Name: <input type="text" th:field="*{address}" readonly="readonly">
		</fieldset>
		<fieldset>
			Name: <input type="text" th:field="*{mobile}" readonly="readonly">
		</fieldset>


		<fieldset>
			GPA: <input type="text" th:field="*{gpa}">
		</fieldset>
		<button type="submit">Submit</button>
	</form>
</body>
</html>