<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<title>Master List</title>
</head>
<body>

	<div th:fragment="home" align="left" id="myDiv"
		style="height: 50px; width: 1400px; background-color: lightblue">
		<h3>Faculty's Page</h3>
	</div>
	<div class="w3-bar w3-border w3-light-grey" style="width: 1400px;">
		<a href="Admin" class="w3-bar-item w3-button"
			th:href="@{/faculty/list}">List of Courses</a> <a href="Student"
			class="w3-bar-item w3-button" th:href="@{/faculty/listStudent}">List
			of Students</a> <a href="Faculty" class="w3-bar-item w3-button"
			th:href="@{/faculty/score}">Score Cards</a>
	</div>


	<h5 align="center">Student List Table</h5>
	<table align="center" class="table table-striped" border="1"
		th:each="s:${students}">
		<tr>
			<td th:text=${s.studentName}>Name</td>
			<td th:text=${s.gender}>Gender</td>
			<td th:text=${s.DOB}>Dob</td>
			<td th:text=${s.degree}>Degree</td>
			<td th:text=${s.semester}>Semester</td>
			<td th:text=${s.address}>Address</td>
			<td th:text=${s.mobile}>Mobile</td>
			<td th:text=${s.gpa}>GPA</td>
			<td><a href="EditStudent.html"
				th:href="@{/faculty/editStudent/}+${s.id}"> Edit </a></td>
			<td><a href="DeleteStudent.html"
				th:href="@{/faculty/deleteStudent/}+${s.id}"> Delete </a></td>

		</tr>
	</table>
	<h5 th:utext="#{courses.header}" align="center">header</h5>
	<table align="center" class="table table-striped" border="1">
		<tr th:each="c:${courses}">
			<td th:text=${c.courseName}>Name</td>
			<td th:text=${c.startDate}>Start Date</td>
			<td th:text=${c.endDate}>End Date</td>
			<td><a href="EditCourse.html"
				th:href="@{/faculty/editCourse/}+${c.id}"> Edit </a></td>
			<td><a href="DeleteProduct.html"
				th:href="@{/faculty/deleteCourse/}+${c.id}"> Delete </a></td>
		</tr>
	</table>
</body>
</html>