<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"
	rel="stylesheet" />
<link th:href="@{/css/style.css}" rel="stylesheet" />
<meta charset="UTF-8">
<title>Score Card</title>
</head>


<!-- New Commit Design -->


<body>
	<div th:fragment="home" align="left" id="myDiv"
		style="height: 50px; width: 1400px; background-color: lightblue">
		<h3>Score Cards</h3>
	</div>
	<div class="container">
		<div class="row">
			<table class="table table-striped">
				<tr>
					<th>Name</th>
					<th>GPA</th>
					<th>Edit</th>
				</tr>
				<tr  th:each="s:${students}">
					<td th:text=${s.studentName}>Student Name</td>
					<td th:text=${s.gpa}>Student GPA</td>
					<td><a href="Edit.html" th:href="@{/faculty/edit/}+${s.id}">
							Edit </a></td>
				</tr>
			</table>
		</div>
	</div>

</body>
</html>