<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Score Card</title>
</head>
<body>
	<div th:fragment="home" align="left" id="myDiv"
		style="height: 50px; width: 1400px; background-color: lightblue">
		<h3>Score Cards</h3>
	</div>


	<table class="table table-striped" th:each="s:${students}" border=1>
		<tr>
			<td th:text=${s.studentName}>Student Name</td>
			<td th:text=${s.gpa}>Student GPA</td>
			<td><a href="Edit.html" th:href="@{/faculty/edit/}+${s.id}">
					Edit </a></td>
		</tr>
	</table>

</body>
</html>