<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Staff Form Page</title>
</head>
<body>
	<h1>Staff Form Page</h1>
	<form th:object="${staff}" th:action="@{/Admin/saveStaff}"
		method="get">
		<fieldset>
			Name: <input type="text" th:field="*{name}">
		</fieldset>
		<fieldset>
			Role: <input type="text" th:field="*{role}">
		</fieldset>
		<fieldset>
			DepartmentName: <input type="text" th:field="*{departmentName}">
		</fieldset>
		<fieldset>
			Courses: <input type="text" th:field="*{courses}">
		</fieldset>
		
<button type="submit">Submit</button>
	</form>

</body>
</html>