<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Student Form Page</title>
</head>
<body>
	<div th:fragment="home" align="left" id="myDiv"
		style="height: 50px; width: 1400px; background-color: lightblue">
		<h3>Student Form</h3>
	</div>

	<form th:object="${student}" th:action="@{/faculty/saveStudent}"
		method="get">
		<fieldset>
			Name: <input type="text" th:field="*{studentName}">
		</fieldset>
		<fieldset>
			Gender: <input type="text" th:field="*{gender}">
		</fieldset>
		<fieldset>
			DOB: <input type="text" th:field="*{DOB}">
		</fieldset>
		<fieldset>
			Degree: <input type="text" th:field="*{degree}">
		</fieldset>
		<fieldset>
			Semester: <input type="text" th:field="*{semester}">
		</fieldset>
		<fieldset>
			Address: <input type="text" th:field="*{address}">
		</fieldset>
		<fieldset>
			Mobile: <input type="text" th:field="*{mobile}">
		</fieldset>
		<fieldset>
			GPA: <input type="text" th:field="*{gpa}">
		</fieldset>
		<button type="submit">Submit</button>
	</form>

</body>
</html>