<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<title>Students Page</title>
</head>
<body>
	<div th:fragment="home" align="left" id="myDiv"
		style="height: 50px; width: 1400px; background-color: lightblue">
		<h3>Student's Details</h3>
	</div>

	<table class="w3-container" border="1">
		<tr th:each="s:${students}">
			<td th:text=${s.id}>Id</td>
			<td th:text=${s.studentName}>Name</td>
			<td th:text=${s.gender}>Gender</td>
			<td th:text=${s.DOB}>Dob</td>
			<td th:text=${s.degree}>Degree</td>
			<td th:text=${s.semester}>Semester</td>
			<td th:text=${s.address}>Address</td>
			<td th:text=${s.mobile}>Mobile</td>
			<td th:text=${s.gpa}>GPA</td>
			<td><a href="EditStudent.html"
				th:href="@{/faculty/editStudent/}+${s.id}"> Edit </a></td>
			<td><a href="DeleteStudent.html"
				th:href="@{/faculty/deleteStudent/}+${s.id}"> Delete </a></td>

		</tr>
	</table>

	<a href="AddStudent.html" class="w3-bar-item w3-button"
		th:href="@{/faculty/createStudent}">Add Student</a>


</body>
</html>